.product-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("https://i.pinimg.com/736x/0b/5d/d8/0b5dd84a8ece8833557cc36e1bf1b75c.jpg"); /* Đường dẫn đến ảnh */
    background-size: cover;
    background-position: center;
    color: #fff;
}
.product-container .nav{
    width: 800px;
    display: flex;
    justify-content: left;
}
.product-container .icon-back {
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .product-container .icon-back:hover {
    transform: scale(1.2); 
  }
.product-container .product-list{
    margin: 20px;
    width: 800px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px; 
    border-radius: 10px;
    background-color: rgba(90, 90, 90, 0.3);
}
.product-container .footer{
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-container .footer .priceTotal{
    color: black;
    font-weight: 600;
}
/* .product-container .product-list .btn {

    height: 80px;
    background-color: #021331;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease; 
    overflow: hidden;
  } */


