/* Home.css */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("https://i.pinimg.com/736x/1b/29/a1/1b29a1fa32a1d6c070e996af5220d540.jpg"); 
  background-size: cover;
  background-position: center;
  color: #fff; 
}

.home-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home-container div {
  display: flex;
  gap: 20px; 
}

.btn {
  background-color: #021331;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #5b85ce;
  transform: scale(1.1);
}

